@import "tailwindcss";

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100%;
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - 1rem));
    }
  }

  .animate-marquee {
    animation: marquee 35s linear infinite;
  }

  .animate-marquee-reverse {
    animation: marquee-reverse 35s linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical 35s linear infinite;
  }

  .animate-marquee:hover,
  .animate-marquee-reverse:hover {
    animation-play-state: paused;
  }
}